<h1><?=$this->get_label($iter, __('Nieuwe oud-bestuur toevoegen'), __('Bestuur wijzigen')) ?></h1>
<div class="messageBox announcement">
	<form method="post" action="<?=$this->get_form_action($iter)?>" class="vertical-form" data-partial-selector=".announcement" data-placement-selector=".announcement">
		<div>
			<?=label(__('Bestuursnaam'), 'naam', $errors, true)?>
			<?=input_text('naam', $iter->data, 'required', 'required', 'placeholder', 'Board XXII')?>
		</div>

		<div>
			<?=label(__('Sorteernaam'), 'login', $errors, true)?>
			<?=input_text('login', $iter->data, 'required', 'required', 'placeholder', 'bestuur22')?>
			<p><?=__('Deze waarde is nergens zichtbaar maar wordt alleen gebruikt om de sorteervolgorde van de besturen goed te krijgen.')?></p>
		</div>		

		<div>
			<button type="submit" class="button"><?=$this->get_label($iter, __('Voeg bestuur toe'), __('Wijzig bestuur')) ?></button>
			<a href="<?=markup_format_text($controller->link_to_index())?>"><?=__('Terug naar de oud-besturen')?></a>
		</div>
	</form>
</div>
