<?php
require_once 'themes/default/views/Rotator.php';
$sponsors = new Rotator('images/sponsors/');
$banner = $sponsors->get(1);
?>
<div class="bannerRotator">
	<a href="<?=markup_format_attribute($banner[0]['url']) ?>">
		<img src="images/sponsors/<?=markup_format_attribute($banner[0]['filename'])?>" class="frontpage_banner">
	</a>
</div>
