<h2><?= __('Bestellingen') ?></h2>
<div class="messageBox">
<form action="boeken.php?bestellingen" method="post"><table class="boeken">
<?= input_hidden('submboekendelbestellingen', 'yes') ?>
<tr class="header">
	<td><a href="<?= add_request(get_request('order_by'), 'order_by=boek') ?>"><?= __('Boek') ?></a></td>
	<td><a href="<?= add_request(get_request('order_by'), 'order_by=lid') ?>"><?= __('Lid') ?></a></td>
	<td width="50px"><a href="<?= add_request(get_request('order_by'), 'order_by=prijs') ?>"><?= __('Prijs') ?></a></td>
</tr>

<? 
$i = true;

foreach ($iter as $item) {
	$class = 'r' . ($i ? '0' : '1');
?>
	<tr class="<?= $class ?>">
		<td><?= $item->get('titel') ?></td>
		<td><?= member_full_name($item) ?></td>
		<td class="text_right"><?= ($item->get('prijs') == 0 ? 'n.n.b.' : ('&euro;&nbsp;' . money_format('%!.2n',  $item->get('prijs')))) ?></td>
		</tr>

<? 	$i = !$i;
} ?>
<tr class="submit"><td class="submit" colspan="3">
<?= input_submit('subm', __('Alle bestellingen verwijderen'), 'button', 'onClick', 'return confirm(\'' . __('Weet je zeker dat je alle bestellingen wilt verwijderen?') . '\')') ?>

<?= input_button(__('Afdrukken'), 'javascript:afdrukken()') ?>

<?= input_button(__('Download'), 'javascript:download()') ?></td></tr>
</table>

<h2><?= __('Aantal bestellingen per boek') ?></h2>
<table class="boeken">
	<tr class="header">
		<td><?= __('Boek') ?></td>
		<td width="20px"><?= __('Aantal') ?></td>
	</tr>
<?
$iter = $model->get_by_book();
$i = true;

foreach ($iter as $item) {
	$class = 'r' . ($i ? '0' : '1'); ?>

	<tr class="<?= $class ?>">
		<td><?= htmlspecialchars($item->get('titel')) ?></td>
		<td class="text_right"><?= $item->get('aantal') ?></td>
		</tr>

	<? $i = !$i;
}
?>

<tr class="submit"><td class="submit" colspan="2"><?= input_button(__('Afdrukken'), 'javascript:afdrukken_by_book()') ?> <?= input_button(__('Download'), 'javascript:download_by_book()') ?></td></tr>
</table>

<h2><?= __('Aantal bestellingen per lid') ?></h2>
<table class="boeken">
	<tr class="header">
		<td><?= __('Lid') ?></td>
		<td width="20px"><?= __('Aantal') ?></td>
		<td width="50px"><?= __('Totaalprijs') ?></td>
	</tr>

<? $iter = $model->get_by_member();
$i = true;
$star = false;

foreach ($iter as $item) {
	$class = 'r' . ($i ? '0' : '1'); ?>

	<tr class="<?= $class ?>">
		<td><?= htmlspecialchars(member_full_name($item)) ?></td>
		<td class="text_right"><?= $item->get('aantal_bestellingen') ?></td>

	<? $total = money_format('%!.2n', $this->totaalprijs($model, $item->get('id'), $nnb));

	if ($nnb)
		$star = true; ?>

	<td class="text_right">&euro;&nbsp;<?= $total . ($nnb ? '*' : '') ?></td>
	</tr>

	<?
	$i = !$i;
}

if ($star) { ?>
	<tr class="submit"><td colspan="3"><span class="italic">* <?= __('Niet van alle boeken zijn de prijzen bekend, het totaalbedrag valt daarom lager uit dan het daadwerkelijke totaalbedrag') ?></span></td></tr>
<? } ?>

<tr class="submit"><td class="submit" colspan="3"><?= input_button(__('Afdrukken'), 'javascript:afdrukken_by_member()') ?> <?= input_button(__('Download'), 'javascript:download_by_member()') ?></td></tr>
</table>
</div>
<script type="text/javascript">
	function afdrukken() {
		window.open("boeken.php?bestellingen&method=print&order_by=<?= $order_by  ?>");
	}

	function download() {
		window.open("boeken.php?bestellingen&method=csv&order_by=<?= $order_by  ?>");
	}

	function afdrukken_by_book() {
		window.open("boeken.php?bestellingen&method=print&type=group_by_book");
	}

	function download_by_book() {
		window.open("boeken.php?bestellingen&method=csv&type=group_by_book");
	}

	function afdrukken_by_member() {
		window.open("boeken.php?bestellingen&method=print&type=group_by_member");
	}

	function download_by_member() {
		window.open("boeken.php?bestellingen&method=csv&type=group_by_member");
	}
</script>
