<div class="messageBox">
<?
if (member_in_commissie(COMMISSIE_BOEKCIE))
	$this->toevoegen_boeken($model, $errors, $added);

$this->winkelwagentje($model);
$this->beschikbare_boeken($model);?>

<h2><?= __('Ander boek') ?></h2>
	<p><?= sprintf(__('Wil je een boek bestellen dat niet in deze lijst staat? Stuur dan een mailtje naar de %s'), '<a href="mailto:boekcie@ai.rug.nl">BoekCie</a>') ?></p> 

<?
if (member_in_commissie(COMMISSIE_BOEKCIE))
	$this->beheren($model);
?>
</div>
