<h2> <?= __('Boeken verwijderen') ?></h2>
<div class="error_message"> <?= __('Onderstaande boeken hebben nog steeds bestellingen staan. Als je deze boeken verwijderd, verwijder je automatisch ook de bestellingen van deze boeken. Weet je zeker dat je deze boeken wilt verwijderen?') ?></div>
<ul>

<?
foreach ($iter as $item) {
	if (($num = $model->num_bestellingen($item)) > 1)
		$aantal = sprintf(__('%d bestellingen'), $num);
	else
		$aantal = __('1 bestelling');
?>
	
	<li> <?= $item->get('vak') ?>, <span class="bold"> <?= markup_format_text($item->get('titel')) ?></span> (<span class="italic"><?= markup_format_text($item->get('auteur')) ?></span>), <?= $aantal ?></li>
<? } ?>

</ul>

<form action="boeken.php" method="post">
<?= input_hidden('submboekendel', 'yes'); ?>

<? foreach ($iter as $item) {
	input_hidden('id_' . $item->get_id(), 'yes');
} ?>

<div class="text_right"> <?= input_button(__('Annuleren'), 'javascript:annuleren();') ?>  <?= input_submit('subm', __('Boeken verwijderen')) ?></div>
</form>

<script type="text/javascript">
	function annuleren() {
		document.location = "<?= addslashes(get_request()) ?>";
	}
</script>
