<div class="messageBox boekcie-webshop-call-to-action">
	<a href="<?=htmlspecialchars($webshop_link, ENT_QUOTES)?>" class="button large-button" target="_blank"><?=__('Ga verder naar de BoekCie webshop')?></a>
</div>
