<?php
$books_per_row = 3;

$policy = get_policy($model);

// Filter the invisible books and reindex the array (required for the for-loops below.)
$children = array_values(array_filter($iter->get_books(), array($policy, 'user_can_read')));

if (!$children || count($children) == 0)
	return;

?>
<div class = "clearfix">
<?
for ($i = 0; $i < count($children); $i += $books_per_row) {
	$images = array();
	$titles = array();
	$status = array();

	for ($n = $i; $n < $i + $books_per_row; $n++) {
		if ($n >= count($children)) {
			$images[] = '';
			$titles[] = '';
		} else {
			$image = get_theme_data('images/book.png');
			$contents = '<a href="fotoboek.php?book=' . $children[$n]->get_id() . '" id="book_' . $children[$n]->get_id() . '"><img src="' . $image . '" alt="' . __('Fotoboek') . '" title="' . __('Ga naar fotoboek') . '" class="book_thumb"></a><br>';
		
			if ($policy->user_can_update($children[$n]))
				$contents .= ' <a href="fotoboek.php?editbook&book=' . $children[$n]->get_id() . '">' . image('edit_small.png', __('Bewerken'), __('Fotoboek bewerken')) . '</a>';

			if ($policy->user_can_delete($children[$n]))
				$contents .= ' <a href="fotoboek.php?delbook&book=' . $children[$n]->get_id() . '" onClick="return confirm_delete();">' . image('delete_small.png', __('Verwijderen'), __('Fotoboek verwijderen')) . '</a>';

			array_push($images,$contents);
		
			$title = $children[$n]->get('titel');
			$subtitle = array();

			if (($num = $children[$n]->count_books()) > 0)
				$subtitle[] = sprintf(_ngettext('%d boek', '%d boeken', $num), $num);

			if (($num = $children[$n]->count_photos()) > 0)
				$subtitle[] = sprintf(_ngettext('%d foto', '%d foto\'s', $num), $num);
			
			if (count($subtitle) > 0)
				$title .= ($title ? '<br>' : '') . '(<span class="fotoboek_highlight">' . markup_format_text(implode_human($subtitle)) . '</span>)';
		
			$titles[] = $title;

			$status[] = $children[$n]->get('read_status');
		}
	}
	
	//echo the images in this row
	for ($idx = 0; $idx != $books_per_row; ++$idx)
		echo '
			<div class="fotoBoek ' . $status[$idx] .'">
				'. $images[$idx] .'
				<p class = "bookTitle">
					'. $titles[$idx] .'
				</p>
			</div>';
	?>
<? } ?>
</div>
<script type="text/javascript">
	function confirm_delete() {
		return confirm('<?= addslashes(__("Weet je zeker dat je dit fotoboek en alle fotoboeken en foto's erin wilt verwijderen?")) ?>');
	}
</script>
