<?
if (!$iter)
	return;
?>

<table class="default_noborder">

<? if ($iter->get('fotograaf')) { ?>
	<tr><td class="bold"><?= __('Fotograaf') ?>:</td><td><?= htmlspecialchars($iter->get('fotograaf')) ?></td></tr>
<? }

if ($iter->get('date')) { ?>
	<tr><td class="bold"><?= __('Datum') ?>:</td><td><?= $iter->get('datum') ?></td></tr>
<? }

if ($iter->get('beschrijving')) { ?>
	<tr><td class="bold"><?= __('Beschrijving') ?>:</td><td><?= markup_parse($iter->get('beschrijving')) ?></td></tr>
<? } ?>

</table>
