<?php
$photos = $iter->get_photos();

$like_model = get_model('DataModelFotoboekLikes');
$likes = $like_model->count_for_photos($photos);
$my_likes = logged_in()
	? $like_model->get_for_lid(logged_in_member(), $photos)
	: array();

$id = function(DataIter $photo) {
	return sprintf('photo%d', $photo->get_id());
};

$classes = function(DataIter $photo) use ($my_likes) {
	$classes = array();

	if (isset($my_likes[$photo->get_id()]))
		$classes[] = 'liked';

	return $classes;
};

if (!$photos || count($photos) == 0)
	return;
?>
<ul class="photos flow-gallery">
	<!-- add the 'grid-gallery' class for awesomeness -->
	<?php foreach ($photos as $photo): ?>
	<li id="photo_<?=$photo->get_id()?>" data-id="<?=$photo->get_id()?>" class="thumbnail <?=isset($my_likes[$photo->get_id()]) ? 'liked' : ''?>">
		<a href="fotoboek.php?book=<?=$iter->get_id()?>&amp;photo=<?=$photo->get_id()?>#a">
			<img src="<?=markup_format_attribute(strip_protocol($photo->get('url')))?>" <?=($size = $photo->get_size()) ? vsprintf('width="%d" height="%d"', $size) : ''?>>
			<?php if (isset($likes[$photo->get_id()])): ?>
				<span class="like-button" title="<?=markup_format_attribute(sprintf(_ngettext('%d lid vindt deze foto awesome', '%d leden vinden deze foto awesome', $likes[$photo->get_id()]), $likes[$photo->get_id()]))?>"><?=$likes[$photo->get_id()]?></span>
			<?php endif ?>
			<?php if ($photo->get('num_reacties') > 0): ?>
			<span class="comments"><?=markup_format_text(sprintf(_ngettext('%d reactie', '%d reacties', $photo->get('num_reacties')), $photo->get('num_reacties')))?></span>
			<?php endif ?>
			<?php if (strlen($photo->get('beschrijving')) > 0): ?>
			<span class="description"><?=markup_format_text($photo->get('beschrijving'))?></span>
			<?php endif ?>
		</a>
	</li>
	<?php endforeach ?>
</ul>

<script src="<?=get_theme_data('data/flowgallery.js')?>"></script>
