<?php
	$prev = $book->get_previous_photo($iter, 2);
	$next = $book->get_next_photo($iter, 2);

	while (count($prev) < 2)
		array_push($prev, '');

	while (count($next) < 2)
		array_push($next, '');

	$slides = array_merge(
		array_values(array_reverse($prev)),
		array($iter),
		array_values($next));
?>
<ol class="slides">
<?php foreach ($slides as $i => $slide): ?>
	<?php if ($slide): ?>
	<li class="slide <?=image_aspect($slide->get_thumb_size())?> <?=$i == 2 ? 'current' : ''?>">
		<a href="fotoboek.php?book=<?=$book->get_id()?>&amp;photo=<?=$slide->get_id()?>#a">
			<img src="<?=markup_format_attribute(strip_protocol($slide->get('thumburl')))?>">
		</a>
	</li>
	<?php else: ?>
	<li class="empty slide"></li>
	<?php endif ?>
<?php endforeach ?>
</ol>
