<h1><?= __('Fotoboek statistieken') ?></h1>
<div class = "messageBox">
	<?php
		$taggers = get_db()->query('SELECT
			l.id,
			l.voornaam,
			COUNT(f_f.id) tags,
			(SELECT
				fav_l.voornaam
			FROM
				foto_faces fav_faces
			LEFT JOIN leden fav_l ON
				fav_l.id = fav_faces.lid_id
			WHERE
				fav_faces.tagged_by = l.id
			GROUP BY
				fav_l.id
			ORDER BY
				COUNT(fav_l.id) DESC
			LIMIT 1) favorite
		FROM
			foto_faces f_f
		LEFT JOIN leden l ON
			l.id = f_f.tagged_by
		WHERE
			f_f.lid_id IS NOT NULL
		GROUP BY
			l.id
		ORDER BY
			tags DESC');

		$tagged = get_db()->query('SELECT l.id, l.voornaam, COUNT(f_f.id) tags FROM foto_faces f_f LEFT JOIN leden l ON l.id = f_f.lid_id WHERE f_f.lid_id IS NOT NULL GROUP BY l.id HAVING COUNT(f_f.id) > 5 ORDER BY tags DESC');
	?>
	<table class="full-width">
		<tr>
			<td style="vertical-align: top">
				<h2><?=__('Meest taggende leden')?></h2>
				<table>
					<thead>
						<tr>
							<th style="text-align: left"><?=__('Naam')?></th>
							<th style="text-align: left"><?=__('Aantal')?></th>
							<th style="text-align: left"><?=__('Favoriet')?></th>
						</tr>
					</thead>
					<tbody>
					<?php foreach ($taggers as $row): ?>
						<tr>
							<td><a href="profiel.php?lid=<?=$row['id']?>"><?=markup_format_text($row['voornaam'])?></a></td>
							<td style="text-align: right"><?=markup_format_text($row['tags'])?></td>
							<td style="text-align: right"><?=markup_format_text($row['favorite'])?></td>
						</tr>
					<?php endforeach ?>
					</tbody>
				</table>
			</td>
			<td style="vertical-align: top">
				<h2><?=__('Meest getagde leden')?></h2>
				<table>
					<thead>
						<tr>
							<th style="text-align: left"><?=__('Naam')?></th>
							<th style="text-align: left"><?=__('Aantal maal getagged')?></th>
						</tr>
					</thead>
					<tbody>
					<?php foreach ($tagged as $row): ?>
						<tr>
							<td><a href="profiel.php?lid=<?=$row['id']?>"><?=markup_format_text($row['voornaam'])?></a></td>
							<td style="text-align: right"><?=markup_format_text($row['tags'])?></td>
						</tr>
					<?php endforeach ?>
					</tbody>
				</table>
			</td>
		</tr>
	</table>
</div>
