<h1><?= __('Fotoboek') ?> :: <?= __('Bewerken') ?></h1>
<div class="messageBox">
	<?php $this->render_partial('path', array('model' => $model, 'book' => $iter)) ?>

	<form action="fotoboek.php?book=<?= $iter->get('id') ?>" method="post">
		<?php $this->render_partial('fotoboek_edit', compact('model', 'iter')) ?>
	</form>
</div>
