<h1><?= __('Fotoboek') . ' :: ' . __('Foto') ?></h1>

<div class="messageBox" id="a">

<div class="photo-page-header">
	<?php $this->render_partial('path', array('book' => $book, 'photo' => $iter, 'model' => $model)) ?>
</div>

<?php $this->render_partial('photo', compact('model', 'iter', 'book', 'faces_controller', 'likes_controller')) ?>

<?php $this->render_partial('slides', compact('model', 'iter', 'book')) ?>

<?php echo $reacties ?>
</div>
