<h1>
	<?= __('Wachtwoord vergeten') ?> - <?= __('Fout') ?>
</h1>
<div class="messageBox">
<p>
	<?= sprintf(__('Er bestaat geen account met het opgegeven E-Mail adres (%s). Ga terug en probeer het nog een keer.'),
		htmlspecialchars($email)) ?>
</p>
</div>
