<h1><?= __('Wachtwoord vergeten') ?> - <?= __('Bevestiging') ?>
</h1>
<div class="messageBox"
<p>
	<?= sprintf(__('Er is een mailtje gestuurd naar %s. Volg de aanwijzingen hierin op om de aanvraag van een nieuw wachtwoord te bevestigen.'), markup_format_text($email)) ?>
</p>
</div>
