table.agenda td {
	margin: 4px;
}

table.agenda_edit {
	width: 99%;
}

table.agenda_edit select {
	width: 200px;
}

table.agenda_edit input.day, table.agenda_edit input.month, table.agenda_edit input.time {
	width: 24px;
	padding: 2px;
	text-align: right;
}

table.agenda_edit input.year {
	width: 36px;
	padding: 2px;
}

.next-year {
	float: right;
}
