h1 { color: #FFF; font-size:24px; padding-left:00px; margin:0px 0px 10px 0px; }

h1 a:visited, h1 a
{
	text-decoration:none;
}
h1 a:hover
{
	text-decoration:underline;
}

.smaller
{
	font-size: 10px;
}

table.forum {
	table-layout: fixed;
}

table.forum tbody
{
	border-spacing:0px;
}

table.forum a {
	text-decoration: none;
	color: #004274;
}


table.forum a:visited {
	color: #004274;
}

table.forum a:hover {
	text-decoration: underline;
	color: #004274;
}

table.forum
{
	border-collapse: collapse;
}
table.forum, table.poll {
	width: 100%;
	float: left;
}

table.forum td {
	/*border: 1px solid #F5F5F5;*/
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 3px;
}

table.forum col.author {
	width: 160px;
}

table.forum.thread col.author {
	width: 100px;
}

table.forum td.subject {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
}

span.subject {
	font-weight: bold;
}

table.forum tr.header td {

}

table.forum col.icon {
	width: 40px;
}

table.forum col.commentcount,
table.forum col.threadcount,
table.forum col.messagecount {
	width: 40px;
}

table.forum col.last {
	width: 120px;
}

table.forum td.icon {
	text-align: center;
	vertical-align: middle;
}

img.avatar {
	background-color: #F0F0F0;
	padding: 3px;
	width: 60px;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
}

table.forum td.author {
	text-align: center;
	width: 80px;
	vertical-align: top;
	border-right: 1px solid #000;
}
.forum td.author span.bold
{
	display:block;
	text-align:center;
}

.forum_poll table.poll td {
	/*border: 1px solid #F5F5F5;*/
	padding: 3px;
	border-radius: 0px !important;
}

/*table.poll tr:nth-child(odd) { 
	background-color: #e8e8ff;
	color: #000;
}
table.poll tr:nth-child(even) {
	background-color: #dce0e5;	
	color: #000;
}*/
table.forum td.message {
	vertical-align: top;
	border-top: 0;
	padding: 10px;
}

table.forum td.message iframe
{
	margin: 10px auto !important;
}

table.forum tr.separator td {
	background-color: #3B3B3B;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 15px;
	font-weight: bold;
	padding-left: 15px;
}

table.forum tr.r0 > td {
	background-color: #f5f5f5;
	color: #000;
	padding: 10px;
}
table.forum tr.r1 > td {
	/*background-color: #8097BA;*/
	background-color: #dce0e5;	
	color: #000;
	padding: 10px;
}
#menu_poll table.votes td
{
	border-bottom: 1px dashes #999;
}
.forum_poll table.votes, .forum_poll table.poll
{
	padding: 0px 10px;
	
}
.forum_poll table.votes
{
	border-spacing: 0px 10px;
}
.forum_poll table.poll
{
	border-spacing: 3px 10px !important;
}
.forum_poll table.votes td, .forum_poll table.poll td
{
	padding: 10px;
}
.forum_poll table.votes td, .forum_poll table.poll td
{
	border: 1px solid #999;
	background-color: #ddd !important;
}
.forum_poll table.votes td.pollVote
{
	padding-right: 0;
	padding-left: 2% !important;
}
.forum_poll table.votes td.pollVote
{
	border-right: 0;
}
.forum_poll table.votes td.percentage
{
	padding-left: 0;
	padding-right: 10px;
}
.forum_poll table.votes td.percentage
{
	border-left: 0;
}
.forum_poll table.poll .pollvoteRadio
{
	width: 25px;
}
.forum_poll table.poll .pollvoteRadio input
{
	vertical-align: middle;
	display: inline;
	margin-left: 6px;
}
table.forum td.last {
	text-align: center;
	font-size: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

div.onderschrift {
	border-top: 1px solid #ffae52;
	padding: 3px;
	margin-top: 15px;
	font-size: 11px;
}

div.page_navigation { 
display: inline;
float:right;
}

div.date {
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: right;
	font-size: 11px;
	font-weight: bold;
	background-color: #F5F5F5;
	margin-left: -3px;
	margin-right: -3px;
	margin-top: -3px;
	border-bottom: 1px solid #d8d7be;	
	color: #000000
}

div.admin_menu {
	text-align: center;
}

div.admin_menu li {
	display: inline;
	border: 1px solid #d8d7be;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 1px;
	background-color: #fff4af;
}

div.admin_menu li.selected {
	background-color: #005db8;
	color: white;
	font-weight: bold;
}

div.admin_menu li.selected a, div.admin_menu li.selected a.visited {
	color: white;
}

div.admin_menu ul {
	display: block;
	margin: 0;
	padding: 0;
}

textarea.small {
	height: 30px;
}

textarea.small_error {
	height: 30px;
	background-color: #ffdbdb;
}

select.forum_list {
	width: 500px;
}

table.moderate {
	width: 99%;
}

table.default td {
	vertical-align: top;
}

td.small {
	width: 80px;
}

td.delete {
	width: 20px;
}

div.forum_poll {

}

div.forum_poll div.poll_vote {
	text-align: right;
}

div.forum_poll ul.poll {
	margin: 15px;
}

table.forum tr.header td {
	background-color: #4d4d4d;
	color: white;
	text-align: center;
}

table.forum tr.forum_header td {
	background-color: #4d4d4d;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	padding: 5px
}

div#message_preview_content {
	display: none;
	border: 1px solid #646ff9;
	padding: 1px;
	background-color: #eee;
	height: 200px;
}

#newbericht, #newpoll, #newbericht2
{
	padding: 5px !important;
	margin: 0px 10px 0px 0px;
	display:inline-block;
	height: 24px;
	line-height: 24px;
	vertical-align:top;
	color: #000 !important;
	font-weight:normal !important;
}

#newpoll img
{
	margin-right: 5px;
}

#newpoll a
{
	display: inline-block;
	padding-right: 5px;
}
#newbericht img, #newbericht2 img
{
	padding-bottom: 5px;
}

#newbericht img, #newbericht2 img, #newpoll a
{
	vertical-align: middle;
}
