textarea[name="reactie"]
{
	width: 100%;
}

table.navigation {
	width: 99%;
}

table.navigation td {
	width: 33%;
}

table.navigation td:nth-child(1) {
	text-align: left;
}

table.navigation td:nth-child(2) {
	text-align: center;
}

table.navigation td:nth-child(3) {
	text-align: right;
}

.fotoboek_path {
	font-size: 16px;
	line-height: 32px;
	font-weight: bold;
	border-bottom: 1px solid #aaa;
}

.fotoboek_path.original_path {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	border: none;
}

#photo {
	position: relative;
	display: table;
    margin: 0 auto;
}

#photo .full-size-photo {
	max-width: 100%;
	height: auto;
}

.slides {
	width: auto;
	background: #ccc;
	padding: 15px 15px;
	margin: 15px -15px;
	border: 1px solid #aaa;
	border-left: 0;
	border-right: 0;
	list-style: none;
}

.slides:after {
	content: '';
	display: block;
	clear: both;
}

.slides .slide {
	display: block;
	float: left;
	width: 20%;
	height: 120px;
	padding: 5px 0;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	overflow: hidden;
}

.slides .slide img {
	max-width: 97%;
	width: auto;
	height: auto;
}

.slides .slide.current {
	background: #aaa;
	margin: -15px 0;
	padding: 20px 0;
}

.photo-controls {
	position: relative;
	height: 24px;
	padding: 0 5px;
	text-align: center;
}

.photo-controls a,
.photo-controls a:hover {
	display: inline-block;
	line-height: 24px;
}

.photo-controls form {
	display: inline;
}

.photo-controls .prev-button {
	position: absolute;
	left: 0;
}

.photo-controls .next-button {
	position: absolute;
	right: 0;
}

.like-button {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #004274;
	border: none;
	cursor: pointer;
	line-height: 20px;
	text-align: center;
	font-size: 9px;
	font-weight: normal;
	padding: 0;
	background: transparent url(../images/heart-white.svg) 0 0 / 20px no-repeat;
	color: white;
}

.photo-controls .like-button {
	background-image: url(../images/heart.svg);
	color: #004274;
}

.liked .like-button {
	color: white;
	background-image: url(../images/heart-filled.svg);
}

.photo-page-header {
	margin-bottom: 10px;
}

.photo-page-header:after {
	content: '';
	display: block;
	clear: both;
}

.button.upload-photos-button,
.button.mark-read-button {
	margin-top: -2px;
	float: right;
}

.photos:after {
	content: '';
	display: block;
	clear: both;
}

.photos .thumbnail {
	position: relative;
	float: left;
	display: block;
	width: 33%;
	height: 200px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

.photos .thumbnail a {
	position: relative;
	display: inline-block;
}

.photos .thumbnail img {
	height: auto;
}

.photos .thumbnail .selection-checkbox {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 65px;
	margin: auto;
	z-index: 5;
}

.photos .description {
	display: block;
}

.photos .comments {
	display: block;
}

.flow-gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

.photos .flow-image-container {
	float: left;
	margin: 3px;
	overflow: hidden;
	position: relative;
	text-align: left;
}

.photos .flow-image-container .selection-checkbox:checked + a:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	border: 4px solid #c60c30;
}

.photos .flow-image-container a {
	position: static;
	display: inline;
}

.photos .flow-image-container img {
	width: auto;
	height: 100%;
	max-width: none;
	z-index: -1;
}

.photos .flow-image-container a:hover:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.photos .thumbnail .like-button {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 3;
}

.photos .flow-image-container .description,
.photos .flow-image-container .comments {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	z-index: 3;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  */
}

.photos .flow-image-container .comments {
	font-weight: normal;
	opacity: 0.8;
}

.photos .flow-image-container .comments + .description {
	bottom: 15px;
} 

.photos .flow-image-container .selection-checkbox {
	top: 0;
	left: 0;
	margin: 5px;
	bottom: auto;
	right: auto;
}

.photo-edit-control {
	/*display: none;*/
}

.face {
	position: absolute;
	border-radius: 4px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 100ms;
}

.face:hover {
	z-index: 10;
}

.face:hover,
.tagging-enabled .face {
	opacity: 1.0;
}

.tagging-enabled .face {
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.6);
}

#photo.tagging-enabled {
	cursor: crosshair;
}

.face .delete-button {
	width: 20px;
	height: 20px;
	background: transparent;
	border: none;
	color: white;
	font: 12px sans-serif;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
}

.face .delete-button:hover {
	background: rgba(0, 0, 0, 0.8);
}

.face .tag-label,
.face .tag-search {
	display: inline-block;
	position: absolute;
	left: 50%;
	bottom: -24px;
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 0 10px;
	border-radius: 4px;
	font: 13px/20px sans-serif;
	z-index: 1;
}

.face .tag-search {
	width: 150px;
	z-index: 2;
}

.face .tag-label .name {
	display: inline-block;
	white-space: nowrap;
	color: white;
	font-weight: normal;
}

.face.untagged .tag-label .name {
	font-style: italic;
}

.hidden img {
	opacity: 0.5
}

