div.gastenboek_zoeken {
	display: none;
	margin:	15px;
	padding: 10px;
	padding-top: 15px;
	background-color: #E5E5E5;
}

div.message_box_lustrum {
        border: 3px solid #ffbb00;
        margin-bottom: 30px;
        background-color: #fffecd;
}

div.message_box_lustrum div.title {
        padding: 3px;
        background-color: orange;
	color: white;
        border-bottom: 3px solid #8486a1;
        font-weight: bold;
}

div.message_box_lustrum div.bericht {
        padding: 3px;
	background-image: url('../images/lustrum.gif');
	min-height: 210px;
}
