.weblog-post {
	position: relative;
	min-height: 200px;
	margin: 0 0 40px 0;
}

.weblog-post-details {
	position: absolute;
	left: 0;
	width: 140px;
	text-align: center;
	padding: 5px 0;
}

.weblog-post-details .author .name {
	display: block;
	line-height: 20px;
}

.weblog-post-content {
	position: relative;
	margin-left: 150px;
	display: block;
	width: auto;
	border-left: 1px solid #ccc;
	padding: 5px 20px;
}

.weblog-post-content:before {
	border: 7px solid;
	content: '';
	display: block;
	z-index: 5;
	border-color: transparent #ccc transparent transparent;
	position: absolute;
	top: 50px;
	right: 100%;
}

.weblog-post-header h3 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 40px;
}

.weblog-post-date {
	float: right;
	font-size: 10px;
	line-height: 40px;
}

.weblog-post-footer {
	margin-top: 20px;
	font-size: 10px;
}