<h1><?=$this->get_label($iter, __('Nieuwe sleutel toevoegen'), __('Sleutel wijzigen')) ?></h1>
<div class="messageBox">
	<form method="post" action="<?=$this->get_form_action($iter)?>" class="vertical-form">
		<?php if ($iter && $iter->get_id()): ?>
		<div>
			<?=label(__('Sleutel'), 'key', $errors, true)?>
			<?=input_text('key', $iter->data, 'disabled', 'disabled')?>
		</div>
		<?php else: ?>
		<div>
			<?=label(__('Sleutel'), 'key', $errors, true)?>
			<?=input_text('key', $iter->data, 'required', 'required', 'maxlength', 100)?>
		</div>
		<?php endif ?>

		<div>
			<?=label(__('Waarde'), 'value', $errors, true)?>
			<?=textarea_field('value', $iter->data)?>
		</div>

		<div>
			<button type="submit" class="button"><?=$this->get_label($iter, __('Voeg sleutel toe'), __('Wijzig sleutel')) ?></button>
			<a href="<?=markup_format_text($controller->link_to_index())?>"><?=__('Terug naar instellingen')?></a>
		</div>
	</form>
</div>
