<div class="replyBox">
	<form id="confirm-delete-comment-form" method="post" action="<?=markup_format_text($controller->link_to_delete($iter))?>" class="vertical-form">
		<p><?=sprintf(__('Weet je heel zeker dat je de reactie van <em>%s</em> wilt verwijderen?'),
			markup_format_text(member_full_name($iter->get('auteur'))))?></p>
		<div>
			<button type="submit" class="button"><?=__('Verwijder reactie') ?></button>
			<a href="<?=markup_format_text($controller->link_to_read($iter))?>"
				data-partial-selector="#comment<?=$iter->get_id()?>"
				data-placement-selector=".replyBox"><?=__('Terug naar foto')?></a>
		</div>
	</form>
</div>
