<div class="heading-with-controls">
	<h2><?= __('Reacties') ?></h2>
	<?php if (get_policy($model)->user_can_create()): ?>
	<a href="<?=markup_format_attribute($controller->link_to_create())?>" class="create-link" title="<?=markup_format_attribute(__('Een nieuwe reactie toevoegen'))?>" onclick="nieuwe_reactie(); return false"><?= __('Nieuwe reactie') ?></a>
	<?php endif ?>
</div>

<?php if (get_policy($model)->user_can_create()): ?>
	<div id="fotoboek_reactie" class="beheer">
		<?php $this->form(array(
			'model' => $model,
			'controller' => $controller,
			'iter' => new DataIter($model, -1, array()),
			'errors' => array())) ?>
	</div>
	<script type="text/javascript">
		function nieuwe_reactie() {
			var div = document.getElementById("fotoboek_reactie");
		
			if (div.style.display == "none" || div.style.display == "") {
				div.style.display = "block";
				document.freactie.reactie.focus();
			} else {
				div.style.display = "none";
			}
		}
			
	<?php if (isset($errors) && in_array('reactie', $errors)): ?>
		nieuwe_reactie();
	<?php endif ?>
	
	</script>
<?php endif ?>

<?php if (!$iter || count($iter) == 0): ?>
	<p><?= __('Er zijn nog geen reacties') ?></p>
<?php else: ?>
	<?php foreach ($iter as $reactie): ?>
		<?php $this->single(array('iter' => $reactie, 'model' => $model, 'controller' => $controller)) ?>
	<?php endforeach ?>
<?php endif ?>
