<!DOCTYPE html>
<html>
	<head>
		<title>Cover Scherm</title>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
		<style>
		html, body {
			margin: 0;
			overflow: hidden;
			font: 24px/32px sans-serif;
			cursor: none;
		}

		h1, h2, h3 {
			color: #C60C30;
		}

		h1 {
			text-shadow:
				-1px -1px 0 #fff,
				1px -1px 0 #fff,
				-1px 1px 0 #fff,
				1px 1px 0 #fff;
		}

		figure {
			margin: 0;
		}

		.slide {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: white;

			/*transition: all 0.8s ease;*/
		}

		.slide {
			-webkit-transform: translate(-150%, 0);
			-moz-transform: translate(-150%, 0);
			transform: translate(-150%, 0);
		}

		.slide.current {
			-webkit-transform: translate(0, 0);
			-moz-transform: translate(0, 0);
			transform: translate(0, 0);
		}

		.slide.current + .slide {
			-webkit-transform: translate(150%, 0);
			-moz-transform: translate(150%, 0);
			transform: translate(150%, 0);
		}

		.slide .collage h1,
		.slide .maikel h1,
		.slide .header {
			position: absolute;
			top: 0;
			left: 20px;
			z-index: 10;
		}

		.slide .header small {
			display: block;
			font-size: 0.5em;
			line-height: 2em;
		}

		.slide .collage ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.slide .collage .foto {
			box-sizing: border-box;
			display: block;
			float: left;
			overflow: hidden;
			border: 1px solid white;
			position: relative;
		}

		.slide .collage .foto img{
			width: auto;
			height: 100%;
			max-width: none;
			z-index: -1;
		}

		.slide .collage .foto  .description{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 7px;
			color: white;
			text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
			z-index: 3;
		}

		</style>
		<?php foreach ($slides as $slide => $options): ?>
			<?php if (!empty($options['stylesheet'])): ?>
				<link rel="stylesheet" href="<?=markup_format_attribute($options['stylesheet'])?>">
			<?php endif ?>
		<?php endforeach ?>
	</head>
	<body>
		<div class="slides-container">
			<?php foreach ($slides as $slide => $options): ?>
			<div class="slide"
				data-name="<?=basename($options['path'])?>"
				data-url="scherm.php?slide=<?=$slide?>"
				data-time="20"></div>
			<?php endforeach ?>
		</div>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="<?=get_theme_data('views/scherm/scherm.js')?>"></script>
		<script>
			var slides = document.getElementsByClassName('slide');

			var currentETag = null;

			function checkETag(request)
			{
				var etag = request.getResponseHeader('X-Scherm-ETag');

				if (etag === null)
					return;

				if (currentETag === null)
					return currentETag = etag;

				if (currentETag != etag)
					document.location.reload();
			}

			function load_slide(slide)
			{
				var request = new XMLHttpRequest();
				request.open('GET', slide.getAttribute('data-url'), true);
				request.onreadystatechange = function() {
					if (request.readyState == 4) {
						checkETag(request);

						slide.innerHTML = request.responseText;

						// Evaluate all the JavaScript code blocks
						Array.prototype.forEach.call(
							slide.querySelectorAll('script'),
							function(script) {
								new Function(script.innerHTML).call(slide);
							});
					}
				};
				request.send();
			}

			function delay_load_slide(slide, delay)
			{
				setTimeout(function() { load_slide(slide); }, delay);
			}

			function next_slide()
			{
				for (var i = 0; i < slides.length; ++i)
				{
					// Vind de huidige slide
					if (!slides[i].classList.contains('current'))
						continue;

					var next = (i + 1) % slides.length;
					
					// en maak de volgende slide de huidige slide :D
					slides[i].classList.remove('current');
					slides[next].classList.add('current');

					// en laad vast de slide daarna
					delay_load_slide(slides[(i + 2) % slides.length], 1000);

					// en plan vast de volgende slide
					queue_next_slide(slides[i].getAttribute('data-time'));

					// Klaar!
					return;
				}
			}

			function queue_next_slide(timeout)
			{
				if (window.next_slide_timer)
					clearTimeout(window.next_slide_timer);

				if (!timeout)
					timeout = 20;

				window.next_slide_timer = setTimeout(next_slide, parseInt(timeout, 10) * 1000);
			}

			function layout_photos(slide)
			{
				$('.flow-gallery').each(function() {
					var $area = $(this);

					var items = $(this).find('li').map(function() {
						var $thumb = $(this).find('img').first(),
							tw = parseInt($thumb.attr('width')),
							th = parseInt($thumb.attr('height'));

						// Scale height to 3rd of window height
						var theight = parseInt(window.innerHeight / 3),
							twidth = tw * theight / th;

						return {
							'twidth': twidth,
							'theight': theight,
							'title': '',
							'el': $(this)
						};
					}).get();

					FlowGallery.showImages($area, items);
				});
			}

			function scroll_slide(slide)
			{
				var container = slide.querySelector('ul');
				var diff = container.scrollHeight - window.innerHeight;
				container.style.webkitTransition = '-webkit-transform 19s linear';
				container.style.webkitTransform = 'translate(0, -' + Math.max(diff, 0) + 'px)';
				container.style.mozTransition = '-moz-transform 19s linear';
				container.style.mozTransform = 'translate(0, -' + Math.max(diff, 0) + 'px)';
				container.style.transition = 'transform 19s linear';
				container.style.transform = 'translate(0, -' + Math.max(diff, 0) + 'px)';
			}

			function reset_scroll_slide(slide)
			{
				var container = slide.querySelector('ul');
				container.style.webkitTransition = 'none';
				container.style.webkitTransform = 'translate(0, 0)';
				container.style.mozTransition = 'none';
				container.style.mozTransform = 'translate(0, 0)';
				container.style.transition = 'none';
				container.style.transform = 'translate(0, 0)';
			}

			Array.prototype.forEach.call(slides, load_slide);
			// setInterval(next_slide, 20000);

			slides[0].classList.add('current');
			queue_next_slide(slides[0].getAttribute('data-time'));

			document.addEventListener('keydown', function(e) {
				if (e.keyCode != 39)
					return;

				next_slide();
				e.preventDefault();
			});
		</script>
	</body>
</html>
