<? header('Content-Type: application/rss+xml');
print('<?xml version="1.0" encoding="ISO-8859-1" ?>')?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
<channel>
  <title>Cover gastenboek</title>
  <link>http://www.svcover.nl/gastenboek.php</link>
  <description>Het gastenboek van Cover</description>
  <ttl>10</ttl>
  <webMaster>webcie@ai.rug.nl (webcie)</webMaster>		
<? foreach($iter as $ite) {?>
  <item>
  	<title><?= first_words(strip_tags(markup_parse($ite->get('message'))), 4) ?></title>
	<author><?= $ite->get('naam')?></author>
		<description><?= htmlentities(markup_parse($ite->get('message'))) ?></description>
		<link>http://www.svcover.nl/gastenboek.php</link>
		<pubDate><?= strftime("%a, %d %b %Y %T +0100" , strtotime($ite->get('date'))) ?></pubDate>
		<guid>http://www.svcover.nl/gastenboek.php?post=<?= $ite->get_id() ?></guid>
  </item>
<?}?>
</channel>
</rss>
