<div class="mailinglist-embed">
	<h2><?=markup_format_text($iter->get('naam'))?></h2>
	<p>
		<em><?=htmlspecialchars($iter->get('adres'))?>:</em>
		<?=markup_parse($iter->get('omschrijving'))?>
	</p>
	
	<form method="post" action="mailinglijsten.php?lijst_id=<?=$iter->get('id')?>">
		<input type="hidden" name="referer" value="<?=markup_format_attribute($_SERVER['REQUEST_URI'])?>">
	<?php if (!logged_in()): ?>
		<p><?=__('Log in om je aan te kunnen melden voor deze mailinglijst.')?></p>
	<?php elseif ($model->is_aangemeld($iter, logged_in('id'))): ?>
		<input type="hidden" name="action" value="unsubscribe">
		<p><input type="submit" class="button" value="<?=__('Uitschrijven')?>">
		<?= __('Je bent aangemeld voor deze mailinglijst.') ?></p>
	<?php elseif($model->member_can_subscribe($iter)): ?>
		<input type="hidden" name="action" value="subscribe">
		<input type="submit" class="button" value="<?=__('Aanmelden')?>">
	<?php endif ?>
	<?php if ($model->member_can_access_archive($iter)): ?>
		<a href="mailinglijsten.php?archive_list_id=<?=$iter->get_id()?>" class="button"><?=__('Bekijk archief')?></a>
	<?php endif ?>
	</form>
</div>
