<div class="messageBox">
	<h2><?=sprintf(__('Archief van %s'), '<a href="mailinglijsten.php?lijst_id=' . $lijst->get_id() . '">' . markup_format_text($lijst->get('naam')) . '</a>')?></h2>
	<div class="section">
		<table class="full-width">
			<thead>
				<tr>
					<th><?=__('Onderwerp')?></th>
					<th><?=__('Afzender')?></th>
					<th><?=__('Datum')?></th>
					<th width="40"><?=__('Status')?></th>
				</tr>
			</thead>
			<tbody>
			<?php foreach ($messages as $message): ?>
				<tr>
					<td><a href="mailinglijsten.php?archive_message_id=<?=$message->get_id()?>"><?=markup_format_text($message->get_subject())?></a></td>
					<td><?=markup_format_text($message->get_sender())?></td>
					<td><?=$message->get('verwerkt_op')?></td>
					<td><?=$message->get('return_code')?></td>
				</tr>
			<?php endforeach ?>
			</tbody>
		</table>
	</div>
</div>
