<h1><?= __('Mailinglijsten') ?></h1>
<div class="messageBox mailinglists">
<?php if (member_in_commissie(COMMISSIE_EASY)): ?>
	<a href="#new-list" class="button floatRight">
		<img src="themes/default/images/add.png">
		<?=__('Nieuwe mailinglijst')?>
	</a>

	<div id="new-list" class="section hide-by-default">
		<form method="post" class="vertical-form" action="mailinglijsten.php?lijst_id=">
			<div>
				<label for="adres"><?=__('Lijstadres') ?></label>
				<input id="adres" type="email" name="adres" placeholder="e.g. lijstnaam@svcover.nl">
			</div>
			<div class="inline-block">
				<label for="type"><?=__('Type')?></label>
				<?=select_field('type', $this->get_all_type_options(), null, 'id', 'type')?>
				<small><?=__('Op basis waarvan wordt de lijst gevuld?')?></small>
			</div>
			<div class="inline-block">
				<label for="toegang"><?=__('Toegang')?></label>
				<?=select_field('toegang', $this->get_all_toegang_options(), null, 'id', 'toegang')?>
				<small><?=__('Wie mag e-mails sturen naar deze lijst?')?></small>
			</div>
			<div class="inline-block">
				<label for="commissie"><?=__('Commissie')?></label>
				<?=select_field('commissie', $this->get_all_commissies(), null, 'id', 'commissie') ?>
				<small><?=__('Welke commissie mag bepalen wie er op de lijst staat?')?></small>
			</div>
			<div>
				<label for="naam"><?=__('Naam') ?></label>
				<input id="naam" type="text" name="naam">
			</div>
			<div>
				<label for="omschrijving"><?=__('Omschrijving')?></label>
				<textarea id="omschrijving" name="omschrijving"></textarea>
			</div>
			<div>
				<input id="publiek" type="checkbox" name="publiek">
				<label for="publiek"><?=__('Mensen mogen zichzelf aanmelden voor deze lijst.')?></label>
			</div>
			<div class="controls">
				<button class="button" type="submit"><?=__('Maak lijst')?></button>
			</div>
		</form>
	</div>
<?php endif ?>

<?php foreach ($iter as $lijst): ?>
	<div class="mailinglist">
		<h3 class="list-name">
			<a href="mailinglijsten.php?lijst_id=<?=$lijst->get('id')?>"><?= markup_format_text($lijst->get('naam')) ?></a>
		</h3>

		<em class="list-email"><?= markup_format_text($lijst->get('adres')) ?></em>
		<?php if (!$lijst->get('publiek')): ?>
		<em class="list-public-status"><?=__('Privé')?></em>
		<?php endif ?>

		<p class="list-description"><?= markup_parse($lijst->get('omschrijving')) ?></p>
		<form method="post" action="mailinglijsten.php?lijst_id=<?=$lijst->get('id')?>">
		<?php if ($lijst->get('subscribed') && $model->member_can_unsubscribe($lijst)): ?>
			<input type="hidden" name="action" value="unsubscribe">
			<p><input type="submit" class="button" value="<?=__('Uitschrijven')?>"> <?= $member->get('id') == logged_in('id') ? __('Je bent aangemeld voor deze mailinglijst.') : sprintf(__('%s is aangemeld voor deze mailinglijst.'), markup_format_text($member->get('voornaam'))) ?></p>
		<?php elseif (!$lijst->get('subscribed') && $model->member_can_subscribe($lijst)): ?>
			<input type="hidden" name="action" value="subscribe">
			<input type="submit" class="button" value="<?=__('Aanmelden')?>">
		<?php endif ?>
		</form>
	</div>
<?php endforeach ?>
</div>