<h1><?= __('Weblog') ?></h1>
<div class="messageBox">

<? if (!$iter) { ?>
	<p><?= __('Er zijn op dit moment geen weblogs') ?></p>
<? 	
	return;
} ?>

<? foreach ($iter as $item)
	$this->render_partial("weblog", array("model" => $model, "iter" => $item));
 ?>	
</div>
