<?php if ($leden = $iter->get_members()): ?>
<div class="commissie-members">
	<h3 class="alignCenter"><?=__('Leden')?></h3>
	<ul>
	<?php foreach ($leden as $lid): ?>
		<li>
			<a href="profiel.php?lid=<?=$lid->get('id')?>" class="commissie-member">
				<img src="foto.php?lid_id=<?=$lid->get('id')?>&amp;get_thumb=circle&amp;width=200" width="100" height="100">
				<span class="name"><?=markup_format_text(member_full_name($lid, false, true)) ?></span>
				<span class="function"><?=markup_format_text($lid->get('functie') ? __translate_parts($lid->get('functie'), ',/') : '') ?></span>
			</a>
		</li>
	<?php endforeach ?>
		</ul>
</div>
<?php endif ?>
