<h1><?=__('Commissie verwijderen') ?></h1>
<div class="messageBox">
	<form method="post" action="<?=markup_format_attribute($controller->link_to_delete($iter))?>" class="vertical-form">
		<p><?=sprintf(__('Weet je heel zeker dat je de commissie <em>%s</em> wil verwijderen?'),
			markup_format_text($iter->get('naam')))?></p>
		<div>
			<button type="submit" class="button"><?=__('Verwijder commissie') ?></button>
			<a href="<?=markup_format_attribute($controller->link_to_read($iter))?>"><?=__('Terug naar commissie')?></a>
		</div>
	</form>
</div>
