<?php
$editable = new ControllerEditable($iter->get('page'));
?>
<div class="pageheading">
	<?php if (get_policy($model)->user_can_update($iter)): ?>
	<div class="controls inline">
		<a href="<?=markup_format_attribute($controller->link_to_update($iter))?>"><?=__('Commissie wijzigen')?></a>
	</div>
	<?php endif ?>
	<h1><?= markup_format_text($iter->get('naam')) ?></h1>
</div>
<?php
if ($iter->get('vacancies'))
	$this->render_partial('leden_gezocht', compact('model', 'iter'));
?>
<div class="committee-page messageBox">
	<?php $this->render_partial('foto', compact('model', 'iter')) ?>

	<div class="content">
		<?php if($editable->user_can_update()): ?>
		<div class="controls inline">
			<a href="<?=markup_format_attribute($editable->link_to_update()) ?>"><?= image('edit.png', __('bewerken'), __('Pagina bewerken'))?></a>
		</div>
		<?php endif ?>
		
		<?php $editable->run() ?>

		<?php $this->render_partial('leden', compact('model', 'iter')) ?>

		<?php $this->render_partial('agenda', compact('model', 'iter')) ?>
	</div>
</div>
