.weather-slide * {
			 box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.weather-slide {
	padding: 0;
	margin: 0;
	background: #eee;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 180px;
	text-align: center;
	color: #333;
	overflow:hidden; /*Hide randomly appearing scrollbars*/
}

.weather-slide .main{
	position: absolute;
	top: 0;
	right: 540px;
	bottom: 0;
	left: 0;
	line-height: 1080px;
}

.weather-slide .main>svg{
	display: inline;
	vertical-align: middle;
	height: 800px;
	max-width: 1100px;
	fill: #333;
	fill-rule: nonzero;
}

.weather-slide .sidebar{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 540px;
}

.weather-slide .sidebar>div{
	width: 100%;
}

.weather-slide .sidebar>div#temp{
	line-height: 250px;
	height: 250px;
}

.weather-slide .sidebar>div#wind{
	height: 370px;
	line-height: 370px;
}

.weather-slide .sidebar>div#wind #icon-arrow{
	position: relative;
	top: 35px;
	fill: #333;
}

.weather-slide .sidebar>div#rain{
	height: 460px;
}

.weather-slide .credits{
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	font-size: 25px;
}
