<h1><?= __('Lidmaatschapsformulier') ?></h1>
<div class="messageBox">
<? $e = $errors;

$days = range(0, 31);
unset($days[0]);

$months = get_months();
unset($months[0]); ?>

<p><?=__('De ondergetekende meldt zich hierbij aan als lid van Cover, de studievereniging voor Kunstmatige Intelligentie en Informatica.')?></p>
<p><?=__('De ondergetekende verklaart hierbij gedurende zijn/haar lidmaatschap akkoord te gaan met de volgende eisen.')?></p>
<p><?=__('De ondergetekende verplicht zich zijn/haar gegevens correct in te vullen en wijzigingen door te geven.')?></p>
<p><?=__('Tevens machtigt de ondergetekende Cover jaarlijks de contributie van zijn of haar bankrekening af te schrijven. Indien gewenst zullen boekenverkopen en overige activiteiten via automatische incasso\'s geschieden.')?></p>
<p><?=__('Bij een onterechte overschrijving heeft de ondergetekende 30 dagen de tijd om deze overschrijving ongedaan te maken.')?></p>

<? if ($message) {?>
<div class="message"><?= $message ?></div>
<? } 
if ($e) {?>
<div class="error-section">
	<p><?= __('Niet alle velden zijn goed ingevuld') ?></p>
</div>
<? } ?>
<form method="post" action="lidworden.php" class="new-member-form"><?= input_hidden('submlidworden', 'yes') ?>
<table>

	<tr>
		<th colspan="2"><?=__('Naam')?></th>
	</tr>

	<?=$this->render_text_row(__('Voornaam'), 'voornaam', $e, true) ?>
	<?=$this->render_text_row(__('Tussenvoegsel'), 'tussenvoegsel', $e, false, 'class', 'small') ?>
	<?=$this->render_text_row(__('Achternaam'), 'achternaam', $e, true) ?>

	<?= table_row(label(__('Gender'), 'gender', $e, true),
		select_field('gender', array(
			'm' => __('Man'),
			'f' => __('Vrouw'),
			'o' => __('Anders')
		), null))  ?>

	<tr>
		<th colspan="2"><?=__('Adres')?></th>
	</tr>

	<?=$this->render_text_row(__('Straatnaam + Huisnummer'), 'adres', $e, true) ?>
	<?=$this->render_text_row(__('Postcode'), 'postcode', $e, true, 'class', 'small') ?>
	<?=$this->render_text_row(__('Woonplaats'), 'woonplaats', $e, true) ?>

	<tr>
		<th colspan="2"><?=__('Contact')?></th>
	</tr>

	<?=$this->render_text_row(__('Telefoonnummer'), 'telefoonnummer', $e, false) ?>
	<?=$this->render_text_row(__('E-Mail adres'), 'email', $e, true) ?>

	<?= table_row(label(__('Geboortedatum'), 'geboortedatum', $e, true), 
		  select_field('day', $days, null) . ' ' .
		  select_field('month', $months, null) . ' ' .
		  input_text('year', null, 'maxlength', 4, 'size', 3,
			     'class', 'small', 'placeholder', 1990)) ?>

	<tr>
		<th colspan="2"><?=__('Studie')?></th>
	</tr>

	<?=$this->render_text_row(__('Studentnummer'), 'studentnummer', $e, true, 'placeholder', 's') ?>
	<?=$this->render_text_row(__('Studierichting'), 'studierichting', $e, true) ?>
	<?= table_row(label(__('Fase'), 'fase', $e, true), select_field('fase', array('b' => __('Bachelor'), 'm' => __('Master'), 'o' => __('Anders')), null))  ?>

	<tr>
		<th colspan="2"><?=__('Betaling')?></th>
	</tr>

	<?=$this->render_text_row(__('IBAN'), 'rekening', $e, true, 'size', 24) ?>

	<?= table_row(label('Machtiging', 'machtiging', $e, true), '<label>' . input_checkbox('machtiging', null) . ' ' . __('Ik machtig hierbij Cover om 1x per jaar de contributie (10 euro) automatisch van mijn rekening af te schrijven (verplicht)') . '</label>') ?>

	<tr>
		<th colspan="2"><?=__('Mailing')?></th>
	</tr>

	<?= table_row(label('Mailing', 'mailing', $e, false), '<label>' . input_checkbox('mailing', null) . ' ' . __('Ik wil graag e-mails over activiteiten van Cover ontvangen. (Dit wil je. Daarnaast, uitschrijven kan gemakkelijk via de website.)') . '</label>') ?>

	<tr>
		<th colspan="2"></th>
	</tr>

	<?=$this->render_text_row(__('Wat is de kleur van gras? (ik ben geen bot)'), 'spam', $e, true) ?>

	<tr>
		<td class="submit" colspan="2"><br>
		<br>
		<?= input_submit('subm', __('Aanvraag versturen')) ?></td>
	</tr>
</table>
</form>

<h2><?= __('Opmerkingen') ?></h2>
<ul>
	<li><?=__('Contributie wordt zolang je lid bent van Cover jaarlijks van je bankrekening afgeschreven.')?></li>
	<li><?=__('Je bent lid af wanneer je afstudeert of je lidmaatschap opzegt.')?></li>
	<li><?=__('Opzegging van het lidmaatschap moet schriftelijk gedaan worden bij de secretaris.')?></li>
	<li><?=__('Een wijziging in je gegevens kun je mailen naar bestuur@svcover.nl, schriftelijk melden bij de secretaris of in je profiel op de Cover website aanpassen.')?></li>
	<li><?=__('De contributie bedraagt &euro; 10,- per jaar.')?></li>
</ul>
</div>
